@import "tailwindcss";

:root {
  color-scheme: dark;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;

  background: #0a0a0a;

  color: #f8fafc;

  font-family:
    "Plus Jakarta Sans",
    sans-serif;

  -webkit-font-smoothing: antialiased;

  -moz-osx-font-smoothing: grayscale;

  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}